# Python / Django
*.pyc
__pycache__/
*.py[cod]
*.log
*.pot

# Django stuff
db.sqlite3
media/
static/images/

*.env
.env
local_settings.py

# Virtual environments
.venv/
venv/
ENV/
env/
.python-version

# IDEs / editors
.idea/
.vscode/
*.swp
.DS_Store

# macOS junk
.DS_Store

# Pip
pip-log.txt
pip-delete-this-directory.txt